.about-container {
    padding-top: 10%;
    
    height: 100vh;
    /* background-color: #000; */
    color: #fff;
    /* align-items: center;
    text-align: center;
    justify-content: center; */
}

.bg img {
    position: absolute;
    left: 0%;
    top: -50%;
    object-fit: cover;
    min-width: 100%;
    opacity: 0.85;
    z-index: -1;
}

.about-container .intro {
    
}

.about-container .intro-content{
    /* display: flex; */
    /* width: 70%; */
    /* padding-left: 0; */
    margin-top: 5%;
    justify-content: space-around;
    
    /* margin: auto; */
    
}

.about-container .intro-left {
    /* width: 30%; */
    display: flex;
    /* margin-top: 5%; */
    font-size: 35px;
    justify-content: center;

}

.about-container .intro-right {
    width: 70%;
    padding: 10px 40px;
    margin: auto;
    font-size: 20px;
    color: white;
    background-color: #7510F7;
    border-radius: 30px;
}

.about-container h1 {
    color: #27aac8;
    border-bottom: #fff 5px solid;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    font-size: 45px;
}

.about-container .tree-left{
    position: absolute;
    left: -10%;
    top: 10%;
}

.about-container .tree-right{
    position: absolute;
    right: -10%;
    top: 20%;
}

.about-container img {
    /* position: absolute; */
    width: 80%;
    /* margin-left: 30%; */
}

.about-container .intro p {
    /* width: 200%; */
    text-align: left;
    line-height: 1.5;
    /* margin-top: 10%; */
}

.up {
    margin-top: 2%;
    /* position: relative; */
}


.about-container .txt-wrap {
    /* margin-bottom: 10%; */
    width: 4%;
    margin: -2% auto 0 auto;
    color: #551a8b;
    border-radius: 20px;
    /* background-color: #27aac8; */
    
}

.about-container .txt-wrap p {
    padding: 5px;
    font-size: 20px;
}

.about-container .skills {
    margin-top: 5%;
}

.about-container .skills-content {
}

.marq {
    /* position: absolute; */
    /* right: 40%; */
    /* margin-top: 80vh; */
    /* margin-top: 80vh; */
    /* margin-right: 60%; */
    /* color: rgb(247, 2, 2); */
    color: #fff;
    background-color: #000;
    height: 15vw;
    font-size: 80px;
    width: 70%;
    display: flex;
    
    /* position: absolute; */
    margin: 5% auto 0 auto;
    /* transform: rotate(270deg); */
}

.skills .skills-content{
    /* justify-content: space-between; */
    display: flex;
    justify-content: center;
}

.skill{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* .skills .skills-content div{
    width: 100%;
} */

.skills img{
    width: 30%;
}

.skills .marq-top{
    margin-top: 20px;
}
.about-container .skills span{
    position: absolute;
    font-size: 20px;
    bottom:40px;
    text-align: center;
    font-family: Montserrat;
    /* margin-bottom: -35%; */
}