
body {
    height: 100vh;
    /* background-color: rgba(8, 8, 8, 0.447); */
    
}
.hero-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
}

.hero-wrapper {
    /* width: 100vw; */
    /* overflow: hidden; */
}

.bg-hero img {
    position: absolute;
    left: 0%;
    top: 0%;
    object-fit: cover;
    min-width: 100%;
    opacity: 0.85;
}

.bg-hero .bg-mobile{
    display: none;
}

.content-wrapper {
    display: flex;
    
    /* position: absolute; */
    align-items: center;
    text-align: center;
    justify-content: center;

}
.content{
    position: absolute;
    top: 20vh;
    line-height: 0.8;
    /* left: 0; */
}

.s-head {
    font-family: 'Pacifico';
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}

.s-head span{
    color: #27aac8;
}
.m-head {
    /* color: #ff5925; */
    color: #fff;
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: transparent;
    font-family: 'Montserrat';
    font-size: 80px;
    font-weight: 600;
    line-height: 1;
}
/* .m-head:hover{
    transform: rotate(0) !important;
} */

.s-head .wave{
    transform: rotate(-5.42178deg);
}

.content button {
    
    font-family: 'Montserrat';
    /* border: transparent; */
    background-color: transparent;
    font-size: 20px;
    margin-top: 8%;
    border-radius: 10px;
    padding: 10px 15px;
    padding-left: 30px;
    position: relative;
    border: 3px solid #27aac8;
    
    /* border-color: #ffffff; */
}

.content a {
    text-decoration: none;
    color: #ffffff;
}

.content .icn {
    position: absolute;
    margin-right: 5px;
    right: 75%;
    bottom: 17%;
    
}

.content .txt {
    margin-top: 50px;
}

.content button:hover {
    transition: 0.2s ease-in-out;
    background: #27aac8;
    border: 3px solid #27aac8;
    /* padding: 10px 20px;
    padding-left: 35px; */
}

.links-wrap {
    position: relative;
    z-index: 1;
    /* bottom: 10%; */

    display: flex;
    height: 100%;
    left: 90%;
    /* top: 12%; */
    /* justify-content: center; */
    align-items: center;
}

.links-wrap ul {
    list-style-type: none;
    margin-bottom: 80%;
}

.links-wrap li {
    /* width: 200; */
    margin: 10px auto;
    /* width: 50%; */
}

.links-wrap svg {
    width: 40%;
}

 /* .vl {
    position: relative;
    bottom: 0;
    right: 30%;
    /* border-left: 5px solid #8807ff; */
    /* border-left: 5px solid #27aac8;
    height: 30%;
    border-radius: 5px; */
 /* }  */ 




/* .marq div h4{
    padding-right: 5%;
} */
.gradient {
    color: #fff;
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    color: transparent;
    padding-right: 1%;
}

.marq-wrapper .comp-none {
    display: none;
}

@media only screen and (max-width: 700px) {
    body {
        min-width: 100vw;
        overflow: hidden;
        /* background-color: black; */
    }
    .hero-container {
        min-height: 100vh;
        min-width: 100vw;
        overflow: hidden;
    }
    .content-wrapper {
        min-width: 100vw;
        min-height: 100vh;
        overflow: hidden;
    }
    .s-head{
        font-size: 150%;
        font-weight: 800;
        margin-top: -10%;
        margin-bottom: 15%;
    }
    .showcase .title{
        font-size: 280%;
        font-weight: 600;
    }
    .content{
        top:30vh;
    }

    .content .black-sect {
        height: 45vh;
        position: relative;
    }
    .content button {
        /* margin-top: 40%; */
        /* margin-top: 20%; */
        position: absolute;
        bottom: 40%;
        left: 30vw;
    }

    .bg-hero img{
        /* display: none; */
        /* left:-87%; */
        /* top:15%; */
    }

    .bg-hero .bg-big{
        display: none;
    }

    .bg-hero .bg-mobile{
        display: block;
        height: 100vh;
    }
    .grey-sect {
        /* padding-bottom:  15%; */
    }

    .black-sect {
        /* background-color: #464646; */
        /* background-color: #000;
        padding-bottom: 80%; */
    }

    .showcase {
        margin-top: 25%;
    }
    /* .showcase .title{
        font-size: 50px;
    } */

    .links-wrap {
        display: none;
    }

    .phone-none {
        display:none;
    }



    
}

/* 
.showcase {
    width: 100%;
    height: 100%;
    position: relative;
} */

.title {
    width: 100%;
    height: 100%;
    /* background-color: #000 ; */
    font-family: 'Montserrat';
    font-size: 80px;
    font-weight: 800;
    color:#fff;
}