.main-container {
    
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    /* margin-top: -8vh; */
}

.main-container .bio {
    display: flex;
    justify-content: space-between;
}

.main-container .data {
    padding-top: 40vh;
    text-align: left;
    margin-left: 8vw;
    width: 30%;
}

.main-container .author {
    color: white;
    font-size: 6rem;
    font-family: 'Inter', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

.main-container .subtitle{
    opacity: 0.64;
    font-size: 1.5rem;
    color: #FFFFFF;
    letter-spacing: -0.51px;
    /* margin-top: 4px; */
}

.bio .headshot-img {
    width: 30%;
    margin-top: 20vh;
    margin-right: 1vw;
}

.bio .headshot-img img{
    height: 70vh;
    width: 100%;
    border-radius: 6px;
}

.bio .headshot-img .img-txt{
    color: #FFFFFF;
    text-align: start;
    opacity: 0.76;
    font-size: 1rem;
    margin-top: -10px;
    padding: 15px;
    line-height: 1.7;
    letter-spacing: -0.1px;
}


@media only screen and (max-width: 700px) {
    

    .main-container .bio {
        display: block;
    }
    .main-container .author {
        font-size: 4rem;
    }

    .main-container .data {
        width: 80%;
        padding-top: 20vh;
    }

    .bio .headshot-img img {
        /* display: none; */
    }

    .bio .headshot-img {
        width: 100%;
        height: 100%;
    }

    
}