.project-container {
    min-height: 100vh;
    padding-top: 120px;
    z-index: 1;
    background-color: #151718;
}

.project-container h1{
    color: #fff;   
    z-index: 1;
    width: fit-content;
    margin: auto;
    font-size: 35px;
    border-bottom: #86e1ff solid;
    /* border-top: #ffffff solid; */
    border-width: 5px;
    border-radius: 10px;
}

.window {
    margin-top: 20px;
    
}
.toggle {
    padding: 10px 10px;
    min-width: 10vw;
    font-size: 1.5rem;
    font-family: 'Futura T';
    font-weight: 700;
    
}



.all {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.window .blue {
    background-color: #F0BCD4;
    /* border: 1px solid #333; */
    /* box-shadow: 10px 0 2px -2px #888; */
}

.window .white {
    background-color: #ffffff;
}



.all:hover {
    /* background-color: #fff; */
}

.collab {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
}

/* .collab:hover {
    background-color: #fff;
} */

.card-wrap {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: auto auto auto; */
    grid-gap: 50px;
    padding-inline: 30vh;
    margin-block: 50px;
    justify-content: space-between;
    /* margin-bottom: 20px; */
}

.card-wrap .card-box {
    background-color: #F0BCD4;
    height: 300px;
    width: 400px;
    padding: 15px;
    border-radius: 5px;
}

.card-wrap .card-box .project-name {
    height: 50px;
    width: 100%;
    display: flex;
    background-color: #151718;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    /* border-radius: 5px; */
}

.card-wrap .card-box .project-name p {
    font-size: 1.7rem;
    color: #fff;
    font-family: 'Futura T';
    font-weight: bolder;
}


.card-wrap .card-box .project-name h2 {
    margin-top: 0;
}

.card-wrap .card-img-container {
    height: 200px;
}

.card-wrap .card-img {
    height: 100%;
    width: 100%;
}

.card-wrap .card-btn {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-wrap .card-btn button {
    background-color: #F0BCD4;
    font-size: 18px;
    display: flex;
    padding: 6px 30px;
    align-items: center;
    font-family: 'Inter';
    font-weight: 600;
    border: 2px solid #fff;
    color: #fff;
    box-shadow: 3px 3px 0 0 #fff;
}

.card-btn .btn-svg{
    height: 25px;
    width: 25px;
    margin-left: 5px;
}

/* .card-wrap .card {
    margin-top: 50px;
    margin-left: 60px;
    position: relative;
    
    width: 25vw;
    height: 50vh;
    color: #a18a96;

    border-radius: 20px;
    overflow: hidden;
} */

.card-wrap .card {
    border-radius: 6px;
    position: relative;
    background-color: #fff;
    font-family: 'Work Sans';
    font-weight: 400;
    width: 24vw;
    padding-bottom: 15px;
    text-align: center;
    margin-bottom: 5vh;
    box-shadow: 6px 6px 0 0 #33ccff;
    /* box-shadow: 2px -5px 5px #fff; */
    
    /* height: 45vh; */
}

.card:hover {
    transition: 0.8s all;
    
}

.card-wrap .first button{
    /* padding-bottom: 15px; */
    margin-top: 20px !important;
    
    bottom: 5vh;
}

.card-wrap .btn-wrap .btn-txt {
    color: #33ccff;
    text-align: center;
    font-family: 'Work Sans';
    font-weight: 900;
    font-size: 18px;
}

.card-wrap .card h3{
    font-size: 2.3rem;
    margin-bottom: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    font-weight: 200;
    font-family: 'Futura T';
    color: 000;
    /* text-align: left; */
}

.card-wrap .card p {
    margin-top: 20px;
    font-size: 14px;
    color: grey;

}

.card-wrap .card .won {
    text-align: right;
    color: #33ccff;
}

.card-wrap .card button {
    padding: 10px 20px;
    margin-top: 10px;
    color: #33ccff;
    background-color: #fff;
    border: 1px solid #33ccff;
    border-radius: 3px;
    box-shadow: 6px 6px 0 0 #33ccff;
}

.card button:hover {
    box-shadow: none;
    transition: 0.8s all;
}

.card-wrap .card .btn-wrap {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.card-wrap .card img {
    width: 100%;
    height: 150px;
    border-radius: 5px 5px 0 0;
    /* border-radius: 7px 7px 0px 0px; */
    object-fit: fill;
    /* border-bottom: 3px solid #2f3436; */
    /* box-shadow: 1 1 1#2f3436; */
    box-shadow: 0 4px 2px -2px gray;
}

.card-wrap .first img {
    /* height: 80%; */
}

.card .body {
    padding: 5px 20px;
    /* text-align: left; */
}


.card .card-content {
    position: absolute;
    left:-2vw;
    bottom: 0;
    width: 100%;
    padding: 25px;
    /* background-color: rgb(151, 151, 151); */
    border-top-left-radius: 20px;
    background-color: #2f3436;
    transform: translateY(70px);
    transition: transform .25s;
    align-items: center;
    text-align: center;
}

.card .card-content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -40px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #2f3436;
}

.card .card-title {
    color: #fff;
    line-height: 15px;
    font-size: 1.5rem;
    font-family: Inter;
}

.card .card-subtitle {
    display: block;
    padding: 5px;
    font-size: 20px;
    margin-bottom: 30px;
    /* background-color: #27aac8; */
    color: #fff;
    /* background-color: #000;
    border: #27aac8 solid; */
    border-width: 2px;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}

.card .card-description {
    font-size: 14px;
    margin-left: 2.5vw;
    color: #fff;
    width: 80%;
    padding: 0;
    opacity: 0;
    transition: opacity .5s;
}

.card:hover .card-content {
    transform: translateY(0);
}

.card:hover .card-description {
    opacity: 1;
    transition-delay: .25s;
}


@media screen and (max-width: 700px){
    .card-wrap {
        grid-template-columns: 1fr;
    }
    .card-wrap .card {
        width: 80vw;
        /* height: 45vh; */
        margin: 20px auto;
        height: fit-content;
    }

    .card-wrap .card button {
        padding: 10px 40px;
        margin-block: 10px;
    }

    .card-wrap .card .btn-wrap {
        /* justify-content: space-between; */
        display: block;
    }

    .card .card-content {
        left: -5vw;
    }

    .card-wrap .card img {
        height: 63%;
    }

    .card-wrap .first img{
        height: 65%;
    }

    .card .card-content {
        padding: 20px;
        height: 20vh;
    }
}